.expense-list {
  display: flex;
  flex-direction: column;
}

.expense-item {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid $brand-color-light-grey;
}