//brand colors
$brand-color-dark-blue: #091540;
$brand-color-bright-blue: #2930f1;
$brand-color-coral: #ff5e5b;
$brand-color-bright-yellow: #ffdb4f;
$brand-color-off-white: #f7f7f7;
$brand-color-light-grey: #e1e1e1;

//sizes
$xxl-size: 3.6rem;
$xl-size: 2.8rem;
$l-size: 2.2rem;
$m-size: 1.8rem;
$sm-size: 1.4rem;
$xs-size: 1.2rem;
$border-radius-sm: 0.3rem;
$desktop-breakpoint: 45rem;